<% meta = { title:'site name', desc:'このサイトの説明 top' }; %>
<%- include('./common/_header'); %>

<img src="./images/sample.jpg" alt="sample画像だよ">
<p class="test-text">テストdayo!</p>
<p class="test-text2">上のテキストをクリックすると消えるyo!</p>

<%- include('./common/_footer'); %>
