<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta.title %></title>
    <base href="file:///Users/mio.a.oishi/samples/mios_boilerplate/public-dev/">
    <meta property="og:title" content="<%= meta.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="images/facebook.jpg" />
    <meta property="og:site_name" content="<%= meta.title %>" />
    <meta name="description" content="<%= meta.desc %>">
    <link rel="icon" type="image/x-icon" href="https://example.com/favicon.ico">
    <link rel="icon" type="image/png" href="https://example.com/favicon.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/smart_phone/main.css" media="screen and (max-width:750px)">
  </head>
  <body>
